---
name: CI Tests

on: 
  pull_request:
    branches: [ develop ]
  #manual github action trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Title'     
        required: true
        default: 'warning'  
      tags:
        description: 'Test scenario tags'
        required: false 

#jobs in the workflow with passed in parameters
jobs:
  test-affected:
    uses: ./.github/workflows/nxtest.yml
    with:
      test: 'affected'

  test-all:
    uses: ./.github/workflows/nxtest.yml
    with:
      test: 'all'

  test-meta:
    uses: ./.github/workflows/metatest.yml
    